@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Poppins:wght@400;500;700&display=swap');

#root {
  overflow: hidden;
  margin: 0;
}

body {
  scroll-behavior: smooth;
  box-sizing: border-box;
  position: relative;
}

a {
  text-decoration: none;
  color: unset;
}

:root {
  --primary: #000d28;
  --secondary: #cc9933;
  --tertiary: #001031;
}
